<a href="https://colab.research.google.com/github/shubhamgogri/Python--DS/blob/main/Coursera/Deep%20Learning/ANN_Bank_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

###Part 1 - Data Preprocessing
Importing the dataset

In [23]:
 data = pd.read_csv("https://raw.githubusercontent.com/shubhamgogri/Python--DS/main/Coursera/Deep%20Learning/Churn_Modelling.csv")
 data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Don't need RowNumber, CustomerId, Surname

In [24]:
Y = data.iloc[:,-1]
X = data.iloc[:, 3:-1]

In [25]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

Splitted the independent and dependent data

Encoding categorical data -- Geographical

In [26]:
from sklearn.preprocessing import LabelEncoder

In [31]:
le = LabelEncoder()
X["Gender"] = le.fit_transform(X["Gender"])

In [32]:
X["Gender"].unique()

array([0, 1])

In [33]:
X["Gender"].head()

0    0
1    0
2    0
3    0
4    0
Name: Gender, dtype: int64

0 for Female 
1 for Male

One Hot encding for Geography

In [30]:
from sklearn.preprocessing import OneHotEncoder

o_encoder = OneHotEncoder()

In [44]:
geography = pd.get_dummies(X['Geography'], drop_first= True)
geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [48]:
X = pd.concat([X, geography], axis = 1)

In [49]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain
0,619,France,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,France,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,France,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,1

In [51]:
# drop original column...
X.drop(["Geography"], axis = 1, inplace = True)

In [52]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,1

In [53]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Gender           10000 non-null  int64
 2   Age              10000 non-null  int64
 3   Tenure           10000 non-null  int64
 4   Balance          10000 non-null  float64
 5   NumOfProducts    10000 non-null  int64
 6   HasCrCard        10000 non-null  int64
 7   IsActiveMember   10000 non-null  int64
 8   EstimatedSalary  10000 non-null  float64
 9   Germany          10000 non-null  uint8
 10  Spain            10000 non-null  uint8
dtypes: float64(2), int64(7), uint8(2)
memory usage: 722.8 KB

In [54]:
X['Germany'] = X['Germany'].astype(int)
X['Spain'] = X['Spain'].astype(int)

In [55]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Gender           10000 non-null  int64
 2   Age              10000 non-null  int64
 3   Tenure           10000 non-null  int64
 4   Balance          10000 non-null  float64
 5   NumOfProducts    10000 non-null  int64
 6   HasCrCard        10000 non-null  int64
 7   IsActiveMember   10000 non-null  int64
 8   EstimatedSalary  10000 non-null  float64
 9   Germany          10000 non-null  int64
 10  Spain            10000 non-null  int64
dtypes: float64(2), int64(9)
memory usage: 859.5 KB

Now all features are in numeric format...

###Splitting the dataset into the Training set and Test set

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = .2, random_state = 0)

###Feature Scaling
Must for ANN Models

In [59]:
from sklearn.preprocessing import StandardScaler

In [60]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

###Part 2 - Building the ANN
Initializing the ANN

In [61]:
import tensorflow as tf

In [70]:
tf.__version__

'2.9.2'

In [71]:
ann = tf.keras.models.Sequential()

Adding the input layer and the first hidden layer

In [72]:
ann.add(tf.keras.layers.Dense(units = 6, activation = 'relu'))

Adding the second hidden layer

In [73]:
ann.add(tf.keras.layers.Dense(units = 6 , activation = 'relu'))

Adding the output layer

In [74]:
ann.add(tf.keras.layers.Dense(units = 1 , activation = 'sigmoid'))
# binary = sigmoid
# category = softmax

###Part 3 - Training the ANN
Compiling the ANN

In [75]:
ann.compile(optimizer = 'adam', loss= 'binary_crossentropy', metrics = ['accuracy'])
# binary = binary_crossentropy
# category = category_crossentropy

In [76]:
ann.fit(X_train, y_train, batch_size= 32, epochs = 300)

Epoch 1/300
250/250 [==============================] - 2s 2ms/step - loss: 0.5989 - accuracy: 0.7426
Epoch 2/300
250/250 [==============================] - 1s 2ms/step - loss: 0.5024 - accuracy: 0.7960
Epoch 3/300
250/250 [==============================] - 0s 2ms/step - loss: 0.4720 - accuracy: 0.7960
Epoch 4/300
250/250 [==============================] - 1s 2ms/step - loss: 0.4559 - accuracy: 0.7959
Epoch 5/300
250/250 [==============================] - 1s 2ms/step - loss: 0.4400 - accuracy: 0.8002
Epoch 6/300
250/250 [==============================] - 1s 2ms/step - loss: 0.4250 - accuracy: 0.8120
Epoch 7/300
250/250 [==============================] - 0s 2ms/step - loss: 0.4160 - accuracy: 0.8221
Epoch 8/300
250/250 [==============================] - 0s 2ms/step - loss: 0.4107 - accuracy: 0.8226
Epoch 9/300
250/250 [==============================] - 0s 2ms/step - loss: 0.4071 - accuracy: 0.8232
Epoch 10/300
250/250 [==============================] - 0s 2ms/step - loss: 0.4037 - accuracy: 0.8246
Epoch 11/300
250/250 [==============================] - 0s 2ms/step - loss: 0.4005 - accuracy: 0.8276
Epoch 12/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3979 - accuracy: 0.8282
Epoch 13/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3950 - accuracy: 0.8299
Epoch 14/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3934 - accuracy: 0.8300
Epoch 15/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3910 - accuracy: 0.8295
Epoch 16/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3886 - accuracy: 0.8319
Epoch 17/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3866 - accuracy: 0.8319
Epoch 18/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3841 - accuracy: 0.8320
Epoch 19/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3814 - accuracy: 0.8310
Epoch 20/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3795 - accuracy: 0.8322
Epoch 21/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3773 - accuracy: 0.8322
Epoch 22/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3755 - accuracy: 0.8320
Epoch 23/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3738 - accuracy: 0.8321
Epoch 24/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3721 - accuracy: 0.8322
Epoch 25/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3706 - accuracy: 0.8311
Epoch 26/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3693 - accuracy: 0.8340
Epoch 27/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3677 - accuracy: 0.8430
Epoch 28/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3664 - accuracy: 0.8471
Epoch 29/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3652 - accuracy: 0.8476
Epoch 30/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3641 - accuracy: 0.8476
Epoch 31/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3637 - accuracy: 0.8504
Epoch 32/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3626 - accuracy: 0.8506
Epoch 33/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3613 - accuracy: 0.8506
Epoch 34/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3605 - accuracy: 0.8539
Epoch 35/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3599 - accuracy: 0.8537
Epoch 36/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3590 - accuracy: 0.8531
Epoch 37/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3586 - accuracy: 0.8518
Epoch 38/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3574 - accuracy: 0.8534
Epoch 39/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3569 - accuracy: 0.8541
Epoch 40/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3562 - accuracy: 0.8553
Epoch 41/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3556 - accuracy: 0.8570
Epoch 42/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3548 - accuracy: 0.8561
Epoch 43/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3540 - accuracy: 0.8587
Epoch 44/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3534 - accuracy: 0.8568
Epoch 45/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3532 - accuracy: 0.8590
Epoch 46/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3524 - accuracy: 0.8594
Epoch 47/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3522 - accuracy: 0.8591
Epoch 48/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3513 - accuracy: 0.8589
Epoch 49/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3509 - accuracy: 0.8599
Epoch 50/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3504 - accuracy: 0.8580
Epoch 51/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3498 - accuracy: 0.8587
Epoch 52/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3490 - accuracy: 0.8615
Epoch 53/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3493 - accuracy: 0.8586
Epoch 54/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3479 - accuracy: 0.8629
Epoch 55/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3473 - accuracy: 0.8611
Epoch 56/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3474 - accuracy: 0.8620
Epoch 57/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8626
Epoch 58/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8605
Epoch 59/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3463 - accuracy: 0.8612
Epoch 60/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3450 - accuracy: 0.8615
Epoch 61/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3446 - accuracy: 0.8624
Epoch 62/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8622
Epoch 63/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3449 - accuracy: 0.8626
Epoch 64/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3434 - accuracy: 0.8631
Epoch 65/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8621
Epoch 66/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8649
Epoch 67/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3427 - accuracy: 0.8639
Epoch 68/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8634
Epoch 69/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8627
Epoch 70/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3423 - accuracy: 0.8644
Epoch 71/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3419 - accuracy: 0.8626
Epoch 72/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3415 - accuracy: 0.8646
Epoch 73/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8648
Epoch 74/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8639
Epoch 75/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3405 - accuracy: 0.8641
Epoch 76/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8650
Epoch 77/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8654
Epoch 78/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8635
Epoch 79/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8641
Epoch 80/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8651
Epoch 81/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8650
Epoch 82/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8646
Epoch 83/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8659
Epoch 84/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8652
Epoch 85/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8655
Epoch 86/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3382 - accuracy: 0.8655
Epoch 87/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8649
Epoch 88/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8658
Epoch 89/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8643
Epoch 90/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8641
Epoch 91/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8639
Epoch 92/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3379 - accuracy: 0.8639
Epoch 93/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8651
Epoch 94/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8660
Epoch 95/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8649
Epoch 96/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8664
Epoch 97/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8643
Epoch 98/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3364 - accuracy: 0.8655
Epoch 99/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8673
Epoch 100/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8640
Epoch 101/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8660
Epoch 102/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8655
Epoch 103/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8660
Epoch 104/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3368 - accuracy: 0.8648
Epoch 105/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8654
Epoch 106/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3366 - accuracy: 0.8646
Epoch 107/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8656
Epoch 108/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8648
Epoch 109/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8669
Epoch 110/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8655
Epoch 111/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8650
Epoch 112/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8659
Epoch 113/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8661
Epoch 114/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3357 - accuracy: 0.8656
Epoch 115/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8656
Epoch 116/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8652
Epoch 117/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8658
Epoch 118/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8649
Epoch 119/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8655
Epoch 120/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3353 - accuracy: 0.8656
Epoch 121/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8660
Epoch 122/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8654
Epoch 123/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8665
Epoch 124/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8658
Epoch 125/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8644
Epoch 126/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8656
Epoch 127/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8652
Epoch 128/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8656
Epoch 129/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3353 - accuracy: 0.8654
Epoch 130/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8648
Epoch 131/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8649
Epoch 132/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8670
Epoch 133/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8662
Epoch 134/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8643
Epoch 135/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8669
Epoch 136/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3341 - accuracy: 0.8644
Epoch 137/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8659
Epoch 138/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8654
Epoch 139/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8662
Epoch 140/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8645
Epoch 141/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3346 - accuracy: 0.8643
Epoch 142/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8662
Epoch 143/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8660
Epoch 144/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8658
Epoch 145/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3341 - accuracy: 0.8652
Epoch 146/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8670
Epoch 147/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8644
Epoch 148/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8646
Epoch 149/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8658
Epoch 150/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8649
Epoch 151/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8646
Epoch 152/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8655
Epoch 153/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8668
Epoch 154/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8651
Epoch 155/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3335 - accuracy: 0.8645
Epoch 156/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8651
Epoch 157/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8665
Epoch 158/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8664
Epoch 159/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8659
Epoch 160/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8661
Epoch 161/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8677
Epoch 162/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8680
Epoch 163/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8645
Epoch 164/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8666
Epoch 165/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8662
Epoch 166/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8669
Epoch 167/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8669
Epoch 168/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3335 - accuracy: 0.8660
Epoch 169/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8646
Epoch 170/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8671
Epoch 171/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8654
Epoch 172/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8655
Epoch 173/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8656
Epoch 174/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8662
Epoch 175/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8656
Epoch 176/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8676
Epoch 177/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8659
Epoch 178/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8659
Epoch 179/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8665
Epoch 180/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8666
Epoch 181/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8660
Epoch 182/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8655
Epoch 183/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8654
Epoch 184/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8665
Epoch 185/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8660
Epoch 186/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8666
Epoch 187/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8658
Epoch 188/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8671
Epoch 189/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8662
Epoch 190/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8655
Epoch 191/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8665
Epoch 192/300
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8654
Epoch 193/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8670
Epoch 194/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8673
Epoch 195/300
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8671
Epoch 196/300

Predicting for a single customer


Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: $ 50000

So, should we say goodbye to that customer ?

In [77]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,1

In [82]:
test_sit = np.array([600, 1,40,3,60000, 2,1,1, 50000, 0,0])

In [88]:
pred = ann.predict(sc.transform([[600, 1,40,3,60000, 2,1,1, 50000, 0,0]]))

1/1 [==============================] - 0s 64ms/step

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

imp to scale the input for this test cause the training was done on scaled data.

In [89]:
pred

array([[0.08026956]], dtype=float32)

Hence the customer will not leave the bank

#Predicting the Test set results

In [109]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)

63/63 [==============================] - 0s 2ms/step

Confusion Matrix to see the performace on test data

In [110]:
y_test.head()

9394    0
898     1
2398    0
5906    0
2343    0
Name: Exited, dtype: int64

In [111]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [112]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
cm

array([[1480,  115],
       [ 253,  152]])

In [113]:
accuracy_score(y_test,y_pred )

0.816

In [114]:
ann.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 6)                 72

 dense_5 (Dense)             (None, 6)                 42

 dense_6 (Dense)             (None, 1)                 7

=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________