<a href="https://colab.research.google.com/github/shubhamgogri/Python--DS/blob/main/Coursera/Deep%20Learning/RNN/GoogleStockPrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

going to predict downward and upward trend in the google stock price

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/shubhamgogri/Python--DS/main/Coursera/Deep%20Learning/RNN/Google_Stock_Price_Train.csv')

In [ ]:
data.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [ ]:
data.describe()

              Open         High          Low
count  1258.000000  1258.000000  1258.000000
mean    533.709833   537.880223   529.007409
std     151.904442   153.008811   150.552807
min     279.120000   281.210000   277.220000
25%     404.115000   406.765000   401.765000
50%     537.470000   540.750000   532.990000
75%     654.922500   662.587500   644.800000
max     816.680000   816.680000   805.140000

In [ ]:
training_set = data.iloc[:, 1:2].values

numpy array for open

In [ ]:
training_set

array([[325.25],
       [331.27],
       [329.83],
       ...,
       [793.7 ],
       [783.33],
       [782.75]])

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1258 non-null   object
 1   Open    1258 non-null   float64
 2   High    1258 non-null   float64
 3   Low     1258 non-null   float64
 4   Close   1258 non-null   object
 5   Volume  1258 non-null   object
dtypes: float64(3), object(3)
memory usage: 59.1+ KB

In [ ]:
len(data['Close'].unique())

1241

###Feature Scaling

Normalisation is recommended to apply to data whenever RNN is applied on the data

In [ ]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range= (0,1))

In [ ]:
training_set_scaled = sc.fit_transform(training_set)

In [ ]:
training_set_scaled

array([[0.08581368],
       [0.09701243],
       [0.09433366],
       ...,
       [0.95725128],
       [0.93796041],
       [0.93688146]])

###Number Of Time Steps

60 timesteps and 1 output

In [ ]:
X_train  = []  # 60 days records
y_train = [] # 61th day record for prediction

basicaaly need to create a batches of x and y train in a 3D shape

In [ ]:
for i in range(60, len(training_set_scaled)):
  X_train.append(training_set_scaled[i-60:i, 0 ]) # batch
  y_train.append(training_set_scaled[i , 0])

X_train= np.array(X_train)
y_train= np.array(y_train)

In [ ]:
X_train.shape

(1198, 60)

In [ ]:
y_train.shape

(1198,)

Adding the 3rd dimension of the batches as req by keras

[Keras Docs for input shape](https://keras.io/api/layers/recurrent_layers/lstm/)

In [ ]:
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1) )

In [ ]:
X_train.shape

(1198, 60, 1)

###BUILDING THE RNN

In [ ]:
from keras.models import Sequential 
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

In [ ]:
regresor = Sequential()

Adding The LSTM and dropout layers to eliminate overfitting

In [ ]:
# lstm layer
regresor.add(LSTM(units = 50, return_sequences= True, input_shape = (X_train.shape[1], 1) ))
# dropout layer
# recommended amount to drop is 20% 
regresor.add(Dropout(rate = 0.2))

2nd lstm layer and dropout layer

In [ ]:
regresor.add(LSTM(units = 50, return_sequences= True))
regresor.add(Dropout(rate = 0.2))

3rd LSTM layer and Dropout Layer

In [ ]:
regresor.add(LSTM(units = 50, return_sequences= True))
regresor.add(Dropout(rate = 0.2))

4th LSTM Layer and Dropout Layer

In [ ]:
regresor.add(LSTM(units = 50))
regresor.add(Dropout(rate = 0.2))

Add output layer

In [ ]:
regresor.add(Dense(units= 1))

### compile RNN

In [ ]:
regresor.compile(optimizer= 'adam', loss= 'mean_squared_error')

### Train RNN

In [ ]:
regresor.fit( X_train, y_train, epochs=20, batch_size = 32 )

Epoch 1/20
38/38 [==============================] - 4s 107ms/step - loss: 0.0014
Epoch 2/20
38/38 [==============================] - 4s 107ms/step - loss: 0.0014
Epoch 3/20
38/38 [==============================] - 4s 107ms/step - loss: 0.0015
Epoch 4/20
38/38 [==============================] - 4s 108ms/step - loss: 0.0013
Epoch 5/20
38/38 [==============================] - 4s 107ms/step - loss: 0.0013
Epoch 6/20
38/38 [==============================] - 4s 108ms/step - loss: 0.0013
Epoch 7/20
38/38 [==============================] - 4s 107ms/step - loss: 0.0014
Epoch 8/20
38/38 [==============================] - 5s 136ms/step - loss: 0.0012
Epoch 9/20
38/38 [==============================] - 4s 107ms/step - loss: 0.0014
Epoch 10/20
38/38 [==============================] - 4s 107ms/step - loss: 0.0014
Epoch 11/20
38/38 [==============================] - 4s 106ms/step - loss: 0.0013
Epoch 12/20
38/38 [==============================] - 4s 107ms/step - loss: 0.0012
Epoch 13/20
38/38 [==============================] - 4s 108ms/step - loss: 0.0012
Epoch 14/20
38/38 [==============================] - 4s 107ms/step - loss: 0.0014
Epoch 15/20
38/38 [==============================] - 4s 107ms/step - loss: 0.0013
Epoch 16/20
38/38 [==============================] - 4s 117ms/step - loss: 0.0012
Epoch 17/20
38/38 [==============================] - 5s 121ms/step - loss: 0.0019
Epoch 18/20
38/38 [==============================] - 4s 106ms/step - loss: 0.0012
Epoch 19/20
38/38 [==============================] - 4s 106ms/step - loss: 0.0013
Epoch 20/20
38/38 [==============================] - 4s 106ms/step - loss: 0.0012