<a href="https://colab.research.google.com/github/shubhamgogri/Python--DS/blob/main/Linear_Regression/LinearRegressionMultivariate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Multivariate Linear Regression

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import linear_model

In [ ]:
# price = m1 * Area + m2* bedrooms + m3 * age + B

In [3]:
url =  "https://github.com/codebasics/py/blob/master/ML/2_linear_reg_multivariate/homeprices.csv"

In [7]:
df = pd.read_html(url)

In [16]:
df.head()

   Unnamed: 0  area  bedrooms  age   price
0         NaN  2600       3.0   20  550000
1         NaN  3000       4.0   15  565000
2         NaN  3200       NaN   18  610000
3         NaN  3600       3.0   30  595000
4         NaN  4000       5.0    8  760000

In [18]:
df.drop(['Unnamed: 0'], inplace =True, axis =1  )

In [20]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [22]:
df.isnull().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [28]:
df['bedrooms'] = df.bedrooms.fillna(df.bedrooms.median())
# column containg null values = col.fillna("Median")

In [29]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      6 non-null      int64
 1   bedrooms  6 non-null      float64
 2   age       6 non-null      int64
 3   price     6 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 320.0 bytes

In [30]:
lm = linear_model.LinearRegression()

In [33]:
lm.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [38]:
m1 = lm.coef_[0]
m2 = lm.coef_[1]
m3 = lm.coef_[2]
# m1, m2, m3

In [40]:
b = lm.intercept_
# b

In [37]:
lm.predict([[3000,3,40]])
# price is 498408.25158031

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([498408.25158031])

In [41]:
Area  =3000
bedrooms = 3
age = 40
price = m1 * Area + m2* bedrooms + m3 * age + b
price

498408.2515803067

Q =

In [43]:
ur = 'https://github.com/codebasics/py/blob/master/ML/2_linear_reg_multivariate/Exercise/hiring.csv'

In [48]:
qdf = pd.read_html(ur) 
data = qdf[0]

In [49]:
data.head()

,Unnamed: 0,experience,test_score(out of 10),interview_score(out of 10),salary($)
0,NaN,NaN,8.0,9,50000
1,NaN,NaN,8.0,6,45000
2,NaN,five,6.0,7,60000
3,NaN,two,10.0,10,65000
4,NaN,seven,9.0,6,70000

In [ ]:
data.drop('Unnamed: 0', axis =1, inplace = True)

In [70]:
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  6 non-null      object
 1   test_score(out of 10)       7 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [55]:
data['experience'] = data['experience'].fillna(0)

In [57]:
pip install word2number

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5582 sha256=0d7e2be5ca4aa4abe40895b708b7aa9f7167b7fa21e645a357a5f6915fe7a60a
  Stored in directory: /root/.cache/pip/wheels/4b/c3/77/a5f48aeb0d3efb7cd5ad61cbd3da30bbf9ffc9662b07c9f879
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [59]:
from word2number import w2n
w2n.word_to_num('fifteen')

15

In [78]:
for i in range(2,8): 
  data['experience'].iloc[i] = w2n.word_to_num(data['experience'].iloc[i])

# OR
# d.experience = d.experience.apply(w2n.word_to_num)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [79]:
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000
5          3                    7.0                          10      62000
6         10                    NaN                           7      72000
7         11                    7.0                           8      80000

In [81]:
data['test_score(out of 10)'] = data['test_score(out of 10)'].fillna(data['test_score(out of 10)'].median())

In [88]:
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0          0                    8.0                           9      50000
1          0                    8.0                           6      45000
2          5                    6.0                           7      60000
3          2                   10.0                          10      65000
4          7                    9.0                           6      70000
5          3                    7.0                          10      62000
6         10                    8.0                           7      72000
7         11                    7.0                           8      80000

In [84]:
model = linear_model.LinearRegression()

In [85]:
model.fit(data[['experience', 'test_score(out of 10)','interview_score(out of 10)']], data['salary($)'])

LinearRegression()

In [87]:
# model.predict([[2,10,10]])
model.predict([[12,10,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([92002.18340611])