<a href="https://colab.research.google.com/github/shubhamgogri/Python--DS/blob/main/Linear_Regression/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Linear Regression using single variable

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [14]:
area =[2600	,3000,	3200,	3600,	4000	] 
price = [550000, 565000,610000,680000,725000]
data = {'area': area,'price': price}
df = pd.DataFrame(data )

In [20]:
reg = linear_model.LinearRegression()
reg.fit(df[['area']], df.price)

LinearRegression()

In [22]:
reg.predict([[3300]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([628715.75342466])

In [27]:
m = reg.coef_[0]

In [29]:
c= reg.intercept_

In [31]:
y = m *3300 + c
y

628715.7534246575

In [43]:
test_area = [1000,1500,2300,3540,4120,4560,5490,3460,4750,2300,9000,8600,7100]
test = {'area':test_area}
test_df = pd.DataFrame(test)

In [44]:
test_df.head()

   area
0  1000
1  1500
2  2300
3  3540
4  4120

In [45]:
 p = reg.predict(test_df)

In [46]:
test_df['prices_predicted']= p

In [47]:
test_df.head()

   area  prices_predicted
0  1000     316404.109589
1  1500     384297.945205
2  2300     492928.082192
3  3540     661304.794521
4  4120     740061.643836

Canada Data set for prediction of per capita income

In [54]:
list_c = pd.read_html('https://github.com/codebasics/py/blob/master/ML/1_linear_reg/Exercise/canada_per_capita_income.csv')

In [67]:
df = list_c[0]
df.head()

   Unnamed: 0  year  per capita income (US$)
0         NaN  1970              3399.299037
1         NaN  1971              3768.297935
2         NaN  1972              4251.175484
3         NaN  1973              4804.463248
4         NaN  1974              5576.514583

In [69]:

df.drop(['Unnamed: 0'],axis = 1, inplace = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               0 non-null      float64
 1   year                     47 non-null     int64
 2   per capita income (US$)  47 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 1.2 KB

In [73]:
df.tail()

    year  per capita income (US$)
42  2012              42665.25597
43  2013              42676.46837
44  2014              41039.89360
45  2015              35175.18898
46  2016              34229.19363

In [72]:
c_reg = linear_model.LinearRegression()
c_reg.fit(df[['year']], df['per capita income (US$)'])

LinearRegression()

In [76]:
c_reg.predict([[2019]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([40460.22901919])